body{
    width:100%;
    height:100%;
  }
  .storytile{
    position:fixed;
    background:rgb(25,100,50);
    border:2px gray ridge;
    border-radius:5px;
    padding:5px;
    font-family:Share Tech Mono;
    margin-bottom:20px;
    width:100%;
    height:100%;
  }
  .innertile1{
    background:rgb(25,130,50);
    border-radius:5px;
    width:100%;
    height:100%;
    color:black;
  }
  .inner-text{
    text-align:center;
  }
  button{
    margin:20px;
  }